{% extends 'base.html' %}
{% block content %}

{% load static %}

{% if messages %}
<!-- success mssage on the creation of an expense -->
<div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {% for message in messages %}
    <strong>{{message}}</strong>
    {% endfor %}
  </div>

{% endif %}

<div id="graphHolder" style="max-width: 60vw;">
<canvas id="summary-chart" style="max-height: 80vh !important;"></canvas>
</div>

{% endblock content %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
<script src="{% static 'js/summary.js'%}?v=1" type="module"></script>
{% endblock script %}


